[submodule "components/arduino-esp32"]
	path = components/arduino-esp32
	url = https://github.com/espressif/arduino-esp32.git
[submodule "external/NMEA2000"]
	path = external/NMEA2000
	url = git@github.com:ttlappalainen/NMEA2000.git
